.topnav li{
    list-style-type: none;
    margin: 2vw 0;
    
    font-size: 3vh;
  }
  
  .topnav a{
    text-decoration: none;
    color: black;
    font-family: 'Rosarivo';
  
    padding: 2vw;
  }
  
  .topnav{
    width: 100vw;
    background-color: #D6EFFF;
  }
  
  .topnav ul{
    display: block;
    margin: 0;
    padding: 0;
    
    
    display: flex;  
  }
  
  nav {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }
  
  body{
    padding-top: 55px; 
    margin: 0;
  }
  
  
  
  .topnav button{
    display: none;
  }
  
  .topnav a:hover{
    background-color: #C6E9FF;
  }
  
  body {
    background-color: #C6E9FF;
  }
  
  #topnav-right {
    float:right;
  }
  
  #topnav-left{
    float:inline-start;
  }
  
  .narukvice {
    overflow: scroll;
    float:left; 
    border-style: dotted;
    border-radius: 5px;
  }
  
  
  
  .naslov p {
    font-family: 'Rosarivo';
    text-align: center;
      line-height: 50px;
}

.naslov span {
  font-family: 'Rosarivo';
  font-style: italic;
  display: inline-block;
  width: 49%;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 3%;
}

.kontakt {
  background-color: #D6EFFF;
overflow: hidden;
position: fixed;
bottom: 0;
width: 100%;
}

.kontakt li{
list-style-type: none;
}

.kontakt ul{
display: block;
margin: 0;
padding: 0;


display: flex; 
}

.kontakt img{
  height: 16px;
  width: 16px;
  border-color: azure;
}
  
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 250px;
  display:block;
  margin:auto;
}
  
  @media only screen and (max-width: 500px) {
    .topnav ul{
      flex-direction: column;
    }
    
    .topnav a{
      display: block;
    }
    
    .topnav li{
      margin: 0;
    }
    
    .topnav button{
      display: block;
      
      padding: 2vw;
      font-size: 3vh;
      background-color: #AFE0FF;
      border: none;
      outline: none;
      cursor: pointer;
      
      align-self: flex-start;
    }
  }